* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#app {
    font-family: 'Inter', sans-serif;
}

/*form valiation*/
.is-invalid {
    background-color: #ffebee !important;
    border-color: #ff1744 !important;
}

.error-message {
    color: #ff1744 !important;
    font-size: 0.875em;
    display: block;
    text-decoration-line: underline;
    text-underline-offset: 2px;
}
/*form valiation*/

/* Router Link Active */
.router-link-exact-active {
    color: #6CB52D !important;
    font-weight: bold !important;
}
/* Router Link Active */

#nprogress .bar {
    background: #6CB52D !important;
}

#nprogress .spinner-icon {
    border-top-color: #6CB52D !important;
    border-left-color: #6CB52D !important;
}